@model PROCAS2.Models.ViewModels.UploadResultsViewModel

@{
    ViewBag.Title = "Upload Results";
}

<div class="row">
    <div class="col-md-12">

        <h3>The following results are reported:</h3>

    </div>

</div>

@if (Model.DBNoUpdate == true)
{
<div class="row">
    <div class="col-md-12">

       <p>No changes have been made to the database.</p>
    </div>

</div>
}

<div class="row">
    <div class="col-md-12">
       
            <table id="tblResults" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Pass/Fail
                        </th>
                        <th>Line Number</th>
                        <th>Report</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Messages.OrderBy(x => x.Pass).ThenBy(x => x.Line))
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Line)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
    </div>
</div>