body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand{
    height:100px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.mainBrand{
    color: white !important;
    background-color: #663399 !important;
    height:50px;
}


.footer-text{
    font-size:small;
   
}

.footer-image{
    text-align:right;
}

.spinnerElement
{
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
        vertical-align:text-top;
        text-align:center;
}

.spinnerSection
{
	color:White; 
	background-color:Black; 
	font-size:30px; 
	padding:5px; 
	display:block;
	width:40%;
	text-align:center;
	position:relative;
	top:10%;
	left:30%;
	
}