@model PROCAS2.Models.ViewModels.DashboardConsentViewModel

<h4>Consent</h4>

<p>Number participants: @Model.NumberParticipants</p>
<p>Number consented: @Model.NumberConsented</p>
<p>Number yet to consent: @Model.NumberYetToConsent</p>
<p>Number consented but without full details yet: @Model.NumberConsentedNoDetails</p>