@model PROCAS2.Models.ViewModels.DashboardRiskViewModel

<h4>Risk Letters</h4>

<p>@Html.LabelFor(x => x.NumberWaitingForLetter) @Model.NumberWaitingForLetter</p>
<p>@Html.LabelFor(x => x.NumberLetterNotSent) @Model.NumberLetterNotSent</p>

