@{
    ViewBag.Title = "Dashboard";
}


<script src="~/js/dashboard.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-9">

        <h3>BC-PREDICT Dashboard</h3>

    </div>

</div>

<div class="row">
    <div class="col-md-4 ">
        <div id="pnlConsent" class="dashboardPanel">
            
        </div>
    </div>
    <div class="col-md-4">
        <div id="pnlRisk" class="dashboardPanel">

        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div id="pnlSite" class="dashboardPanel">

        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>