@using PROCAS2.CustomHtmlHelpers

@{
    ViewBag.Title = "Dashboard";
}


<script src="~/js/dashboard.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-12">

        <h3>BC-PREDICT Dashboard</h3>

    </div>

 @if (Html.IsTestBuild())
 {
    <span class="col-md-12 alert alert-danger">This is an insecure test server. Please only use dummy (fake) data on this version of the site. @DateTime.Now.AddMonths(-2).ToLongDateString() @DateTime.Now.AddMonths(-2).ToLongTimeString()</span>
 }   

</div>

<div class="row">

    <div class="col-md-4">
        <div id="pnlAppNews" class="dashboardPanel">

        </div>
    </div>

    <div class="col-md-4 ">
        <div id="pnlConsent" class="dashboardPanel">
            
        </div>
    </div>
    <div class="col-md-4">
        <div id="pnlRisk" class="dashboardPanel">

        </div>
    </div>
   
</div>

<div class="row">
    <div class="col-md-4 ">
        <div id="pnlSite" class="dashboardPanel">

        </div>
    </div>
    <div class="col-md-4">
        <div id="pnlTxErrors" class="dashboardPanel">

        </div>
    </div>
    <div class="col-md-4">
        <div id="pnlVolpara" class="dashboardPanel">

        </div>
    </div>
</div>