
@model 

@using PROCAS2.Resources

@{
    ViewBag.Title = "ViewScreenV1_5_4";
}

<h2>ViewScreenV1_5_4</h2>


<script src="~/js/volparaResultsView.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-9">

        <h3>Volpara Results - @Model.NHSNumber</h3>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.ScreeningRecords.Count == 0)
        {
<span>@ParticipantResources.NO_VOLPARA_RECORDS</span>

        }
        else
        {
        <table id="tblVolpara" class="table nowrap compact">
            <thead>
                <tr>
                    <th>
                        Field Name
                    </th>
                    @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                    {
                    <th class="volparaCol"></th>
                    }
                </tr>
            </thead>
            <tbody>
